{% extends 'main.html' %}

{% block page_title %}
Edit Room
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}

<div class="continue-view">
  <div class="w-full text-center font-bold py-5 border-b border-gray-200">your room</div>
  <div class="w-full px-6">
    {% include 'mixins/room/room_form.html' with form=form cta="Update room" %}
    <div class="my-5 text-center">
      <a href="{% url 'rooms:photos' pk=room.pk %}" class="text-teal-500 font-medium">Edit Photos</a>
    </div>
  </div>
</div>

{% endblock content %}