@tailwind base;
@tailwind components;

.search-bar {
  transition: box-shadow 0.2s linear;
}

.nav-link {
  @apply border-b border-white  font-bold px-4 h-full flex items-center;

  &:hover {
    @apply border-gray-600;
  }
}

.continue-view {
  @apply container border border-gray-200 rounded-2xl shadow-lg w-full md:w-2/3 lg:w-3/5 xl:w-1/3 mx-auto mt-1 mb-20 flex flex-col items-center;
}

.btn {
  @apply font-bold flex items-center justify-center rounded-lg border-2 border-gray-600 my-5 p-3;
}

.btn-link {
  @apply w-full font-bold flex items-center justify-center rounded-lg border border-gray-600 mt-4 p-3;
}

input,
textarea,
select {
  @apply rounded-sm py-5 font-light text-lg w-full text-left border border-gray-600 px-5;
  &:focus {
    @apply outline-none border-teal-500;
  }
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 50px;
}

form {
  .input {
    @apply mb-3 w-full;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

form {
  .input {
    input,
    textarea,
    select {
      @apply btn rounded-sm font-light text-lg w-full text-left border border-gray-600;
      &:focus {
        @apply outline-none border-teal-500;
      }
    }
    &.has_error {
      input {
        @apply bg-red-100 border-red-300;
        &:focus {
          @apply border-red-500 border-4;
        }
      }
    }
  }
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 50px;
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

.border-section {
  @apply border-b border-gray-400 pb-8 mt-8;
}

.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.cal-number {
  @apply w-full text-center rounded p-1 cursor-pointer;
}

@tailwind utilities;
